[Unit]
Description = Catalogue Service

[Service]
User={{ app_user }}
Environment=MONGO=true
Environment=MONGO_URL="mongodb://{{ mongodb_host }}:{{ mongodb_port }}/catalogue"
ExecStart=/bin/node /app/catalogue/server.js
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target 