[Unit]
Description = User Service

[Service]
User={{ app_user }}
Environment=MONGO=true
Environment=MONGO_URL="mongodb://{{ mongodb_host }}:{{ mongodb_port }}/user"
ExecStart=/bin/node /app/user/server.js
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target 